<div id="boardDiv">
    <h2 *ngIf="player" >{{player.username}}'s Board:</h2>
    <table id="boardTable">
        <tr>
            <th></th> <!-- Empty cell in top-left corner-->
            <th *ngFor="let pos of sideArr;">{{pos}}</th> <!-- heading with numbers 1-10 for x-coordinates-->
        </tr>
        <tr class="boardRow" *ngFor="let xPos of sideArr; let i=index">
            <td>{{xPos}}</td> <!-- first cell on the left of each row gives y-coordinate (same as xPos here)-->
            <td class="tile" *ngFor="let yPos of sideArr; let j=index">
                <!-- {{board.tiles[i][j]}} -->
                <!-- <Tile [tile]=board.tiles[i][j] /> -->
                <img [className]="getTileClass(xPos, yPos)" [src]="imagePaths[xPos-1][yPos-1]" (click)="inkTile(xPos,yPos); placeSquid(xPos,yPos)">
            </td> <!-- remainder of row will be 10 cells, each with a tile-->
        </tr>
    </table>
    <button *ngIf="!ready && primary && !lockout" (click)="selectSquid(1)">Select CuttleFish</button>
    <button *ngIf="!ready && primary && !lockout" (click)="selectSquid(2)">Select Vampire Squid</button>
    <button *ngIf="!ready && primary && !lockout" (click)="selectSquid(3)">Select Humboldt Squid</button>
    <button *ngIf="!ready && primary && !lockout" (click)="selectSquid(4)">Select Giant Squid</button>
    <button *ngIf="!ready && primary && !lockout" (click)="selectSquid(5)">Select Kraken</button>

    <br>
    <button *ngIf="!ready && primary" (click)="changePlacementOrientation(false)">Horizontal Placement</button>
    <button *ngIf="!ready && primary" (click)="changePlacementOrientation(true)">Vertical Placement</button>

</div>
