<div>
    <ng-container *ngIf="list; else noList">
        <ng-container *ngIf="list.length == 0; else emptyList">
            <h2>Invites {{ pertainsToSent ? "Sent" : "Received" }}:</h2>
            <ul>
                <li *ngFor="let invite of list">
                    <ng-container *ngIf="pertainsToSent; else reactionList">
                        <app-invite [invite]="invite"></app-invite>
                    </ng-container>
                    <ng-container #reactionList>
                        <app-react-to-invite [invite]="invite"></app-react-to-invite>
                    </ng-container>
                </li>
            </ul>
        </ng-container>
        <ng-template #emptyList>

        </ng-template>
    </ng-container>
    <ng-template #noList>
        No list of invites for logged-in user.
    </ng-template>
</div>