<div>
    <ng-container *ngIf="invite; else noInvite">
        <h3>{{ invite.sender.username }} invited you to {{ invite.type.name.toLowerCase() }}!</h3>
        <form>
            <label for="accept">Accept</label>
            <input type="radio" name="accept" id="accept" [(ngModel)="selectedStatus"] value="Accepted">

            <label for="reject">Spectate</label>
            <input type="radio" name="reject" id="spectate" [(ngModel)="selectedStatus" value="Rejected">

            <button type="button" name="reactToInvite" id="reactToInvite" (click)="reactToInvite()">Confirm Choice</button>
        </form>
    </ng-container>
    <ng-template #noInvite>
        No invite to react to.
    </ng-template>
</div>