
<div id="gameDiv">
    <app-board *ngIf="started" [board]="game.board1" [player]="game.player1" (readyEvent)="readyBoards($event)" #boardcomp1>

    </app-board>
    <app-board *ngIf="started" [board]="game.board2" [player]="game.player2" (readyEvent)="readyBoards($event)" #boardcomp2>
    
    </app-board>
    
    <p *ngIf="!invited">Please enter the username of a player to invite</p>
    <input *ngIf="!invited" type="text" [(ngModel)] = "invitedUsername">
    <button *ngIf="!invited" (click)="sendInvite()">Submit</button>

    <button *ngIf="invited && !started && sent" (click)="cancelInvite()" >Cancel Invite</button>
    <br>
    <app-loading *ngIf="loading" [opponent]="opponent" [loading]="loading" [isSender]="isSender"></app-loading>
</div>
