#boardDiv {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

#boardTable {
    max-width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.boardRow {
    margin: 0px;
    padding: 0px;
}

.tile {
    margin: 0px 1px;
    padding: 0px 1px;
}

.sprite {

}

.rotatedSprite {
    transform: rotate(270deg);
}